# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Large datasets
data/raw/
data/processed/

# Model weights
*.pth
*.pt
*.ckpt

# OS files
.DS_Store
Thumbs.db
